TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_DOMAIN=
TELEGRAM_SECRET_PATH=

DB_HOST=
DB_DIALECT=postgres
DB_PORT=
DB_USER_NAME=garmin
DB_PASSWORD=
DB_DATABASE=garmin

MAIL_USER=
MAIL_PASSWORD=
MAIL_IMAP_HOST=
MAIL_IMAP_PORT=
MAIL_DIR=Garmin

